/*  HEADER  */
header {
  padding: 25px 0;
}
#header-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-wrp img {
  height: 40px;
}
#header-wrp a {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--sand-shadow);
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}
#header-wrp div:nth-last-child(1) {
  width: 40px;
  aspect-ratio: 1/1;

  border-radius: 50%;
  background-color: var(--old-orange);
  background-image: url("../assets/img/gallery-icon.svg");
  background-position: 52%;
  background-size: 55%;
  background-repeat: no-repeat;
}

/*  GALLERY CONTENT  */
#gallery-wrp,
#header-wrp {
  display: flex;
  gap: 4px;

  width: calc(100% - 2rem);
  max-width: 1100px;
  margin: 0 auto;
}
.column {
  width: 33.33%;
  height: 100vh;
}
.s {
  width: 33.33%;
}
.m {
  width: 50%;
}
.l {
  width: 100%;
}
.gallery-img {
  width: 100%;

  opacity: 0;
  border-radius: 5px;

  transition: opacity 1s ease-out;

  cursor: pointer;
}

/*  OVERLAY  */
#overlay {
  position: fixed;
  top: 0;
  left: 0;

  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}
.hidden {
  opacity: 0;
}
.shown {
  opacity: 1;
}
.no-display {
  display: none;
}
.display {
  display: flex;
}
#img-display {
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  margin: auto;
}
#close-img-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 2rem;
  aspect-ratio: 1/1;
  margin: 2rem;

  border: none;
  background-image: url("../assets/img/cross-circle.svg");
  background-size: cover;
  background-color: transparent;

  cursor: pointer;
}
