@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&family=Young+Serif&display=swap");

:root {
  --gray1: #242424;
  --gray2: #2b2b2b;
  --gray3: #363636;
  --gray4: #4b4b4b;
  --gray5: #646464;

  --light1: #f1f1f1;
  --light2: #dbdbdb;
  --light2: #bbbbbb;

  --orange: #9c4f37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Crimson Pro", serif;
}

html {
  font-size: 20px;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--light1);

  color: var(--gray1);
}

/* * TEXT CLASSES AND APPEARENCE * */
.title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.5rem;
}
.center-text {
  text-align: center;
}
.dimmed {
  color: var(--gray5);
}
.more-dimmed {
  color: var(--light2);
}
.line-through {
  text-decoration: line-through;
}
.normal-wght {
  font-weight: 400;
}
.first-letter {
  margin-right: 0.3px;

  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--gray2);
}
.ident {
  margin-left: 0.5rem;
}
.section-title {
  margin: 2rem 0 1rem 0;
}
.section-title::before,
.section-title::after {
  content: "";

  display: inline-block;

  width: 0.3rem;
  height: 0.3rem;
  margin: 0 0.5rem 0.25rem 0.5rem;

  background-color: var(--gray1);
  transform: rotate(45deg);
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 600;
}
p {
  margin-bottom: 1rem;

  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}
p a {
  color: var(--orange);
}
/* * MILD RESPOSIVENESS * */
section,
nav {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* * HOME PAGE * */
#home-banner {
  margin-bottom: 5rem;
}
#home-banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
#home-banner-profile-pic {
  position: relative;

  width: 200px;
  aspect-ratio: 1/1;
  margin: 5rem 0;

  border: solid 2px var(--gray1);
  border-radius: 50%;
  background-image: url("../assets/img/profile.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}
#home-banner-logo {
  position: absolute;
  top: 120px;
  left: -30px;

  width: 90px;
  aspect-ratio: 1/1;

  border: solid 2px var(--light1);
  border-radius: 50%;
  background-color: var(--gray1);
  background-image: url("../assets/img/logo-skelleton.svg");
  background-repeat: no-repeat;
  background-size: 65px;
  background-position: 11px 27px;
}
#home-banner-subtext {
  font-size: 1rem;
  color: var(--gray5);
}

/* * * NAV * * */

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  list-style: none;
}
nav ul li a {
  padding: 0.5rem;

  font-family: "Young Serif", serif;
  font-size: 1rem;
  text-decoration: none;

  transition: color 0.2s linear;
}
nav ul li a:hover {
  color: var(--gray3);
}
.selected {
  color: var(--blue-soft);
}
.unselected {
  color: var(--gray5);
}
