@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,700;1,400;1,700&family=Young+Serif&display=swap");

:root {
  --gray1: #242424;
  --gray2: #2b2b2b;
  --gray3: #363636;
  --gray4: #4b4b4b;
  --gray5: #646464;

  --light1: #f1f1f1;
  --light2: #dbdbdb;
  --light2: #bbbbbb;

  --blue-soft: #4e9ee9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Crimson Pro", serif;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--light1);

  color: var(--gray1);
}

.title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 3rem;
}
.center-text {
  text-align: center;
}
.dimmed {
  color: var(--gray5);
}
.normal-wght {
  font-weight: 400;
}
.first-letter {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.3rem;

  margin-right: 0.05px;
}

p {
  font-size: 1.4rem;
  letter-spacing: 0.05px;
}
section {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* * HOME * */

#home-banner {
  height: 400px;
}
#home-banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
#home-banner-profile-pic {
  position: relative;

  width: 200px;
  aspect-ratio: 1/1;

  border: solid 2px var(--gray1);
  border-radius: 50%;
  background-image: url("../assets/img/profile.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}
#home-banner-logo {
  position: absolute;
  top: 120px;
  left: -30px;

  width: 90px;
  aspect-ratio: 1/1;

  border: solid 2px var(--light1);
  border-radius: 50%;
  background-color: var(--gray1);
  background-image: url("../assets/img/logo-skelleton.svg");
  background-repeat: no-repeat;
  background-size: 65px;
  background-position: 11px 27px;
}

/* * * CHAT * * */

/* LOGIN CONTENT */
#guest-form,
#guest-form-icon-wrapper,
#chat-description,
#guest-form-wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
}
#guest-form {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #20202070;
  backdrop-filter: blur(3px);

  z-index: 10;
}
#guest-form-wrapper {
  width: 90%;
  aspect-ratio: 4/3;

  border: solid 1px var(--gray2);
  border-radius: 15px;
  background-color: var(--gray1);
}
#guest-form-icon-wrapper {
  gap: 10px;

  width: 100%;
  height: 40%;
}
#guest-form-icon-wrapper h1 {
  margin-top: 12px;

  font-size: 4rem;
  font-weight: 800;
}
#chat-description {
  flex-direction: column;

  width: 80%;
  height: 30%;

  margin: 0 auto;
}
#chat-description p {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: var(--light2);
}
#chat-description p a {
  text-decoration: none;
  color: var(--blue-soft);
}
#chat-description p:nth-child(2) {
  margin-top: 10px;
}
/* LOGIN FORM */
#guest-form-wrapper form {
  gap: 10px;

  width: 100%;
  height: 30%;
  padding: 0 20px;
}
#guest-form-wrapper form input:nth-child(1) {
  width: calc(100% - 3rem - 10px);
  height: 3rem;
  padding: 15px;

  border: solid 1px var(--gray3);
  border-radius: 30px;
  background-color: var(--gray2);

  color: var(--light1);
}
#guest-form-wrapper form input:nth-child(1):focus {
  outline: solid 1px var(--blue-soft);
}
#guest-form-wrapper form input:nth-child(2) {
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 50%;
  background-color: var(--blue-soft);

  color: var(--light1);
  font-size: 2rem;

  cursor: pointer;
}

/* HEADER */
#chat-header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4rem;
  padding: 0 10px;

  background-color: var(--gray2);
}
#chat-header-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
#chat-header-details img {
  width: 3rem;
  height: 3rem;

  border: solid 2px var(--blue-soft);
  border-radius: 50%;
}
#chat-header-details h2 {
  margin-top: 3px;

  font-size: 1.3rem;
  font-weight: 600;
}
#burger-menu-icon {
  fill: var(--light1);

  cursor: pointer;
}

/* FOOTER */
#chat-footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4rem;
  padding: 0 10px;
}
#chat-footer input {
  width: calc(100% - 3rem - 10px);
  height: 3rem;
  padding: 15px;

  border: solid 1px var(--gray3);
  border-radius: 30px;
  background-color: var(--gray2);

  color: var(--light1);
  font-weight: 300;
}
#chat-footer input:focus {
  outline: solid 1px var(--blue-soft);
}
#chat-footer button {
  position: relative;

  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 50%;
  background-color: var(--blue-soft);

  cursor: pointer;
}
#chat-footer button svg {
  position: absolute;
  top: 13px;
  left: 10px;

  fill: var(--light1);
}
