@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Lexend:wght@300;400;500;600;800&display=swap");

:root {
  --blue: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;

  --sand: #fffcf2;
  --sand-shadow: #ccc5b9;
  --background: #403d39;
  --background-dark: #252422;
  --old-orange: #eb5e28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lexend", sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--background-dark);

  color: var(--sand);
}

/* * TEXT CLASSES AND APPEARENCE * */
.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}
.center-text {
  text-align: center;
}
.dimmed {
  color: var(--sand-shadow);
}
.line-through {
  text-decoration: line-through;
}
.normal-wght {
  font-weight: 400;
}
.first-letter {
  margin-right: 0.3px;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.ident {
  margin-left: 0.5rem;
}
.section-title {
  margin: 2rem 0 1rem 0;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 600;
}
p {
  margin-bottom: 1rem;

  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}
p a {
  color: var(--green);
}

/* * MILD RESPOSIVENESS * */
section,
header {
  width: calc(100% - 40px);
  max-width: 1100px;
  margin: 0 auto;
}

/* * HOME BANNER * */
#home-banner {
  margin: 20px auto;
  padding: 40px 20px;

  border: 2px solid var(--background);
  border-radius: 12px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  width: 4rem;
}
#deco-lines-wrp {
  display: inline-block;

  height: 10px;
  width: 100%;
}
#deco-lines {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 80%;
  margin: 0 auto;

  border: 1px solid var(--sand);
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;

  overflow: hidden;
}
#deco-lines div {
  height: 100%;
  width: 20%;

  transform: skew(-25deg);
}
#deco-lines div:nth-child(1) {
  background-color: var(--sand);
}
#deco-lines div:nth-child(2) {
  background-color: var(--sand-shadow);
}
#deco-lines div:nth-child(3) {
  background-color: var(--background);
}
#deco-lines div:nth-child(4) {
  background-color: var(--background-dark);
}
#deco-lines div:nth-child(5) {
  background-color: var(--old-orange);
}
#home-banner-text {
  margin: 40px 0;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: start;
}
#home-banner-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
#profile-pic {
  width: 4rem;
  aspect-ratio: 1/1;

  border-radius: 10px;
}
h1 {
  font-weight: 600;
}
#home-banner-profile-info h2 {
  font-weight: 300;
  font-size: 1rem;
}
